/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: poppins;
    margin:0px;
    padding:0px;
}
h2{
    letter-spacing: 5px;
}
.page2-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#758be3;
    color: White;
    margin-bottom: 80px;
    height:50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.page2-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}

.home-section{
    height: 100vh;
}

table{
    font-size: 18px;
    /* border:2px solid #758be3; */
    padding: 20px 100px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

#predicted-rating{
    font-size:20px;
    border-top:2px solid #758be3;
}

tr{
    height: 50px;
    display:flex;
    align-items: center;
}

td{
    color:#4960bc;
    max-width: 400px;
}

th{
    display:flex;
    align-items: flex-start;
    font-weight: lighter;
    width:200px;
    color:rgb(66, 61, 61);
}


/* homepage style ending*/

/* developed by section styles start*/
.developed-by-section{
    height: 100vh;
    background-color: #d7dfff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#members-container{
    width: 1200px; 
    display:flex;
    flex-direction: center;
    justify-content: space-evenly;

}
.profile-pic{
    border-radius: 120px;
}

.profile-card{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}